.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 4px;
}

.population {
  min-width: 180px;
  margin: 0 16px;
}

.countries {
  min-width: 100px;
  margin-left: 16px;
}