.box {
  margin-top: 16px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px;  
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 4px;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  min-width: 180px;
  min-height: 140px;  
}

img {
  border: 1px solid lightgray;
  margin-bottom: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}